APP_NAME=Proseguir
APP_ENV=production
APP_KEY=base64:3J8puHdxb2M3whTyOOcStggNvEzucTe9YVKojnLGJ2k=
APP_DEBUG=false
APP_URL=http://auto.proseguirliquidez.com:8000
FRONTEND_URL=http://auto.proseguirliquidez.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=factoring_db
DB_USERNAME=root
DB_PASSWORD=root

SESSION_DRIVER=database
SESSION_LIFETIME=120
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

N8N_API_TOKEN=MiTokenSuperSecreto123
AUTH_GUARD=api
